@import "tailwindcss";

@theme {
  --color-name-middle: #a855f7;
  --color-name-end: #6366f1;

  --default-transition-duration: 400ms;
}

:root {
  --background: #12111d;
  --foreground: #e2e8f0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
